<div class="panel panel-default mainpanel">
    <div class="panel-heading"><span class="panel-title" translate>Workflow manager - {{workflowTitle}}</span>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="panel-body">
        <ul class="wb-list" >
            <li class="wb-item" ng-repeat="flow in flows track by $index" ng-if="!flow.hidden" ng-click="setActive($index)">
               <div >
                <div class="wb-number" ng-class="{'wb-number-active': isActive($index), 'wb-number-blocked': !flow.allow}">
                    <div class="wb-number-index">{{flow.id}}</div></div>
                <div>{{flow.title}}</div>
                </div>
            </li>
        </ul>
        <hr/>
        <div id="wf1" ng-show="isActive(getIndex('id','1'))">
            <h4>Select working layers</h4>
            <p>Only layers with '*' necessary</p>
            <div class="form-group">
                <label for="lpis-layer" class="control-label" >LPIS fields <sup>*</sup></label>
                <select name="lpis-layer" class="form-control" id="lpis-layer" ng-model="wfData.layers.lpisLayer" ng-change="pageChecker('1')">
                    <option value="">--Select LPIS layer--</option>
                    <option ng-repeat="layer in availableLayers" value="{{layer.title}}">{{layer.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="water-layer" class="control-label" >Water zones</label>
                <select name="water-layer" class="form-control" id="water-layer" ng-model="wfData.layers.waterLayer" ng-change="pageChecker('1')">
                    <option value="">--Select WaterZones layer--</option>
                    <option ng-repeat="layer in availableLayers" value="layer">{{layer.title}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" ng-show="flows[getIndex('id','1')+1].allow" ng-click="nextPage(getIndex('id','1'))" >Next</button>
        </div>
        <div id="wf2" ng-show="isActive(getIndex('id','2'))">
            <h4>Pick LPIS fields on map ... waiting</h4>
            <p ng-show="wfData.lpisSelected"><button type="button" class="btn btn-primary"  ng-click="createPlotLayer()">Create PLOT layer</button><span>total number of features {{wfData.lpisSelectedNumber}}</span></p>
            <button type="button" class="btn btn-primary" ng-show="flows[getIndex('id','2')+2].allow" ng-click="nextPage(getIndex('id','1'))" >Next</button>
             <button type="button" class="btn btn-primary" ng-click="sendJson()" >Compute Variable rate application</button>            
        </div>
        <div id="wf2.b" ng-show="isActive(getIndex('id','2.b'))">
            asdasdasdsad
        </div>
        <div id="wf3" ng-show="isActive(getIndex('id','3'))">
            sdaasdasdasd
        </div>
    </div>
</div>